<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Test App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-controller="MainCtrl">

  <div ng-if="!authenticated">
    <div ng-include="'app-modules/login/login.html'"></div>
  </div>

  <div ng-if="authenticated">
    <div ui-view></div>

  </div>


  <!--External Js-->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


  <!--Switching to UI-Router-->
  <!--<script src="bower_components/angular-route/angular-route.js"></script>-->
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>


  <!--Internal JS-->
  <script src="app.js"></script>
  <script src="app-modules/login/login.js"></script>
  <script src="app-modules/main/home/home.js"></script>
  <script src="app-modules/main/home/home-modules/module-2/module-2.js"></script>
  <script src="app-modules/main/home/home-modules/module-1/module-1.js"></script>


</body>
</html>
