<div ng-controller="LoginCtrl">
    <div class="login-page">
        <div class="form">
            <form class="login-form">
                <input ng-model="user.username" type="text" placeholder="username"/>
                <input ng-model="user.password" type="password" placeholder="password"/>
                <button ng-click="login(user)">login</button>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
        </div>
    </div>
</div>